anndata==0.7.4
biopython==1.76
MulticoreTSNE==0.1
cmfrec==0.5.3
fbpca==1.0
geosketch==1.0
gpytorch==1.0.1
joblib==0.13.2
keras==2.3.1
matplotlib==3.1.1
numpy==1.17.2
pandas==1.0.5
scanpy==1.4.5.1
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
tensorflow-gpu==1.15.4
torch==1.4.0
umap-learn==0.3.10
